* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url("../../asset/img/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.navbar {
  background-color: #800000;
}
.navbar .dropdown-item:hover {
  color: #800000;
}
.search-box {
    display: inline-block;
    position: relative;
}
.input-search {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 80px; /* Anda bisa mengatur nilai border-radius sesuai keinginan Anda */
    padding: 10px;
    padding-left: 40px; /* Menggeser teks input agar ikon berada di tengah */
    font-size: 18px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: #222;
    color: #fff;
}
.navbar .input-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search {
    width: 50px;
    height: 45px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0; /* Untuk mengatur sudut tajam di sisi kanan */
    position: absolute;
    right: 0px;
    top: 0; /* Untuk membuat ikon berada di tengah tombol secara vertikal */
    display: flex;
    align-items: center; /* Untuk mengatur ikon ke tengah tombol secara vertikal */
    justify-content: center; /* Untuk mengatur ikon ke tengah tombol secara horizontal */
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search, .input-search:focus {
    width: 300px;
    border-radius: 0 10px 0 0; /* Untuk mengatur sudut tajam hanya di sisi atas input saat dalam fokus */
    background-color: transparent;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
main {
  margin-top: 60px;
}
:root{
  --maroon: #800000;
 }
 /* button */
 .bg-primary{
     background-color: var(--maroon)!important;
 }
 
#header .btn:not(.nav-btns button){
     background-color: #fff;
     color:  #800000;
     padding: 5px 10px;
     border-radius: 8px;
     border: 1px solid 800000;
 }
#header .btn:not(.nav-btns button):hover{
     background-color: var(--maroon);
     color: white;
     border-color: var(--maroon);
     font-weight: bold;
 }
 #collection .btn:not(.nav-btns button){
     background-color: #fff;
     color:  #800000;
     padding: 5px 10px;
     border-radius: 8px;
     border: 1px solid 800000;
 }
#collection .btn:not(.nav-btns button):hover{
     background-color: var(--maroon);
     color: white;
     border-color: var(--maroon);
     font-weight: bold;
 }
 
 /* header */
 #header{
  background: url(../../asset/img/Food\ \ Projects\ \(2\).jpg) top/cover no-repeat;
 }
 .carousel-inner h1{
     font-size: 40px;
     font-family: var(--lg-font);
     color: white;
 }
 .carousel-inner h2{
     font-size: 60px;
     color: white;
 }
 .carousel-item .btn{
     border-color:maroon!important;
 }
 .carousel-item .btn:hover{
     border-color: var(--maroon)!important;
 }
 
 /* title */
 .title h2::before{
     position: absolute;
     content: "";
     width: 4px;
     height: 50px;
     background-color: var(--maroon);
     left: -20px;
     top: 50%;
     -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
             transform: translateY(-50%);
 }
 
 /* collection */
 .active-filter-btn{
     background-color: var(--maroon)!important;
     color: #fff!important;
     border-color: var(--maroon)!important;
 }
 .filter-button-group .btn:hover{
     color: #fff!important;
 }
 .collection-img span{
     top: 10px;
     right: 10px;
     width: 36px;
     height: 36px;
     border-radius: 50%;
 }
#footer .icon a {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #800000;
  text-decoration: none;
}

#footer .icon a:hover {
  background-color: #570000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}