* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url("../../asset/img/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.navbar {
  background-color: #800000;
}
.navbar .dropdown-item:hover {
  color: #800000;
}
.search-box {
    display: inline-block;
    position: relative;
}
.input-search {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 80px; /* Anda bisa mengatur nilai border-radius sesuai keinginan Anda */
    padding: 10px;
    padding-left: 40px; /* Menggeser teks input agar ikon berada di tengah */
    font-size: 18px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: #222;
    color: #fff;
}
.input-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search {
    width: 50px;
    height: 45px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0; /* Untuk mengatur sudut tajam di sisi kanan */
    position: absolute;
    right: 0px;
    top: 0; /* Untuk membuat ikon berada di tengah tombol secara vertikal */
    display: flex;
    align-items: center; /* Untuk mengatur ikon ke tengah tombol secara vertikal */
    justify-content: center; /* Untuk mengatur ikon ke tengah tombol secara horizontal */
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search, .input-search:focus {
    width: 300px;
    border-radius: 0 10px 0 0; /* Untuk mengatur sudut tajam hanya di sisi atas input saat dalam fokus */
    background-color: transparent;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
main {
  margin-top: 80px;
  min-height: 100vh;
}
#footer .icon a {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #800000;
  text-decoration: none;
}

#footer .icon a:hover {
  background-color: #570000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
#header{
  margin:20px;
}
#header>h1{
  text-align:center;
  font-size:3rem;
}
.container{
  width:100vw;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:0px 0px;
}
.card{
  display:flex;
  flex-direction:column;
  width:200px;
  margin-bottom:60px;
}
.card>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.card-image{
  width:200px;
  height:150px;
}
.card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.card-text{
  margin:-20px auto;
  margin-bottom:-40px;
  height:100px;
  width:100px;
  background-color:#1D1C20;
  color:#fff;
  padding: 10px;
  text-align: center;
}
.card-meal-type{
  font-style:italic;
  text-align: center;
  font-size: 1.20rem;

}
.card-price{
  width:100px;
  height:100px;
  background-color:#970C0A;
  color:#fff;
  margin-left:auto;
  font-size:1.25rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

