.carousel-inner{
  border-radius: 30px;
}
.carousel-item img {
  width: 100%;
  height: 600px; /* Ganti angka ini sesuai dengan tinggi yang Anda inginkan */
  object-fit: cover; /* Untuk memastikan gambar tetap terlihat baik meskipun memiliki rasio aspek yang berbeda */
  
}

.custom-carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.custom-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.custom-indicator.active {
  background-color: variabel.$primary;
}