// Variabel
$main-font: "Montserrat", sans-serif;
$background-color: #ffffe8;
$primary : #800000;
$secondary: #ffffe8;
$navbar-background: #800000;
$icon-background: white;
$icon-hover-background: #570000;
$icon-color: #800000;
$section-title-color: #800000;
$box-background: #ffffe8;
$box-hover-background: #800000;
$box-text-color: #222;
$box-hover-text-color: white;
$condition: #800000;